<div class="row">

  <div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">


      <button *ngIf="showAll" class="btn btn-primary" (click)="onShowAll()" style=" margin-top:60px; font-size: 20px;margin-right:5px; margin-left: 170px; padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px;">Hide Employees List</button>
      <button *ngIf="!showAll" class="btn btn-primary" (click)="onShowAll()" style=" margin-top:60px;font-size: 20px; margin-left: 170px;margin-right:5px; padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px;">Show Employees List</button>
      <button *ngIf="!showRegister" class="btn btn-primary" (click)="onClickRegister()" style="margin-top:60px; font-size: 20px; margin-right:5px;padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px;" >Register Employee</button>
      <button *ngIf="showRegister" class="btn btn-primary" (click)="onClickRegister()" style=" margin-top:60px;font-size: 20px;margin-right:5px; padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px;" >Close Register Employee</button>
      <button *ngIf="!showDelete" class="btn btn-primary" (click)="onClickDelete()" style="margin-top:60px; font-size: 20px; margin-right:5px;padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px;">Delete Employee</button>
      <button *ngIf="showDelete" class="btn btn-primary" (click)="onClickDelete()" style=" margin-top:60px;font-size: 20px;margin-right:5px; padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px;">Hide Delete Employee</button>

      <hr>

      <div class ="text-center">
        <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
      </div>


      <div  *ngFor="let employeeEl of employee; let i = index">
        <a (click)="onClickEmployee()"*ngIf="showAll" style=" cursor: pointer;" class="list-group-item clearfix" >
          <div class="pull-left">
            <h4 class="list-group-item-heading">{{ employeeEl.firstName }}</h4>
            <p class="list-group-item-text">{{ employeeEl.lastName }}</p>
            <p class="list-group-item-text">{{ employeeEl.email }}</p>
          </div>
          <div class="pull-right">
            <button (click)="onEditEmployee(i)" *ngIf="showEdit" class="btn btn-primary">Edit</button>
          </div>

          <span class="pull-right">
    </span>
        </a>      </div>
      </div>
    </div>
  </div>






  <div  class="col-xs-12 col-md-6 col-md-offset-3" *ngIf="showEmployeeForm" >

    <hr>
    <h3 >Edit Employee</h3>

    <form  (ngSubmit)="onSubmitChangeEmployeeForm(f)" #f="ngForm">

      <div class="form-group">
        <label for="idEdit">Keycloak ID</label>
        <input
          type="input"
          id="idEdit"
          class="form-control"
          ngModel
          placeholder="Enter keycloak user ID"
          name="idEdit"
          required
        >
      </div>

    <div class="form-group">
      <label for="email">E-Mail</label>
      <input
        type="email"
        id="emailEdit"
        class="form-control"
        [(ngModel)]="editEmail"
        name="emailEdit"
        required
      >
    </div>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="input"
        id="firstNameEdit"
        class="form-control"
        [(ngModel)]="editFirstName"
        name="firstNameEdit"
        required
      >
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        type="input"
        id="lastNameEdit"
        class="form-control"
        [(ngModel)]="editLastName"
        name="lastNameEdit"
        required
      >
    </div>


    <div>
      <button class="btn btn-primary" type="submit" >Submit Changes</button>
    </div>

  </form>
  </div>







  <div class="col-xs-12 col-md-6 col-md-offset-3" *ngIf="!showEdit && showRegister" >
    <hr>
    <h3 >Register Employee</h3>
    <form  (ngSubmit)="onCreateEmployee(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          placeholder="Enter your email adress"
          required
          >
      </div>

      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="input"
          id="firstName"
          class="form-control"
          ngModel
          name="firstName"
          placeholder="Enter your first name"
          required
          >
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="input"
          id="lastName"
          class="form-control"
          ngModel
          name="lastName"
          placeholder="Enter your last name"
          required
          >
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          placeholder="Enter a password"
          minlength="6">
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          class="form-control"
          ngModel
          name="confirmPassword"
          placeholder="Confirm above password"
          required
          minlength="6">
      </div>

      <div>
        <button class="btn btn-primary" type="submit" >Register Employee</button>
      </div>

    </form>
  </div>

  <div class="col-xs-12 col-md-6 col-md-offset-3" *ngIf="showDelete">
    <hr>
    <h3 >Delete Employee</h3>
    <form  (ngSubmit)="onDeleteEmployee(g)" #g="ngForm">
      <div class="form-group">
        <label for="email">Enter user's keycloak ID to delete User</label>
        <input
          type="emailDel"
          id="emailDel"
          class="form-control"
          ngModel
          name="emailDel"
          placeholder="Enter user Email to delete"
          required
        >
      </div>
      <div>
        <button class="btn btn-primary" type="submit" >Delete Employee</button>
      </div>

    </form>
  </div>
</div>
